table {
    background-color: pink;
    border: 5px solid purple;
    border-collapse: collapse;
    width: 50%;
    text-align: center;
}

th, td {
    border: 2px solid yellow;
    padding: 3px;
}

