body {
    background-color: hotpink;
}

table {
    background-color: pink;
    border: 5px solid purple;
    border-collapse: collapse;
    width: 50%;
    text-align: center;
}

th, td {
    border: 2px solid yellow;
    padding: 3px;
}

#first {
    color: red;
}

.name {
    color: royalblue;
}

.scam {
    color: goldenrod;
    font-family: fantasy;
    font-size: 10px;
}

p {
    color: limegreen;
}

h2 {
    color: indigo;
}